{% extends "KaliopExoBundle::b_layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block b_body %}
    <h1>Articles</h1>
    <ul>

        {% for article in listArticles %}
            <li>
                <a href="{{ path("kaliop_exo_view", {"id": article.id}) }}">{{ article.title }}</a>
                par {{ article.author }},
                le {{ article.date|date("d/m/Y") }}
            </li>
        {% else %}
            <li>Aucun article pour le moment</li>
        {% endfor %}

    </ul>
{% endblock %}