{% extends "KaliopExoBundle::b_layout.html.twig" %}

{% block title %}
    Lecture d'un article - {{ article.title  }}
{% endblock %}

{% block b_body %}
    <h2>{{ article.title }}</h2>
    <i>Par {{ article.author }}, le {{ article.date|date("d/m/Y") }}</i>

    {% if article.image is not null %}
        <br>
        <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" style="width:600px; height:340px; margin: 40px 0 40px 120px;">
    {% endif %}

    <div class="well">
        {{ article.content }}
    </div>

    <p>
        <a class="btn btn-default" href="{{ path("kaliop_exo_homepage") }}">
            <i class="glyphicon glyphicon-chevron-left"> Annuler</i>
        </a>
        <a class="btn btn-default" href="{{ path("kaliop_exo_edit", {"id": article.id}) }}">
            <i class="glyphicon glyphicon-edit"> Modifier</i>
        </a>
    </p>
{% endblock %}